hr {
    width: 75%;
    height: 1px;
    background-color: grey;
    margin-top: 20px;
    margin-bottom: 20px;
    border-width: 1px;
    border-color: grey;
    }

body {
    margin: 5px;
    font-family: Helvetica, Arial, sans-serif;
    }

body > header {
        background-color: dodgerblue;
        color: white;
    }
    
body > footer {
    background-color: dodgerblue;
    }
    

body > footer > p {
    padding: 16px;
    color: white;
    text-align: center;
    }


#top-bar {
    color: white;

}
    

h1 {
    margin: 0;
}
footer {
    margin: 0;
}

#latest {


}

